<!DOCTYPE HTML>
<!--by: Kevin Mocorro-->
<html>
    <head>
        <meta Http-Equiv="Cache-Control" Content="no-cache">
        <meta Http-Equiv="Pragma" Content="no-cache">
        <meta Http-Equiv="Expires" Content="0"> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="./style.css">
        <link rel="stylesheet" type="text/css" href="./vendor/bootstrap/css/bootstrap.min.css">
        <script type="text/javascript" src="./vendor/popper/popper.min.js"></script>
        <script type="text/javascript" src="./vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="./vendor/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="./validation.min.js"></script>
        <script type="text/javascript" src="./question.js"></script>
        
    </head>
    <body>

        <div class="col-12-md" style="background-image:url('./cover.png'); background-repeat:no-repeat; background-size: 100% 100%; width:100%;padding: 50px 0 10px;color:#fff">
            <div class="col-12-md">
                <div class="greetings" style="text-align:center;">
                    <h1>Hi <%= user_session[0].firstname %>!</h1>
                    <p><%= user_session[0].position %> of Shift <%= user_session[0].shift %>,</p>
                </div>
            </div>
            
            <div class="col-12-md">
                <div class="details" style="text-align:center;margin-bottom:30px;">
                    <p>You are invited on <strong><br/><%= user_session[0].schedule %></strong> <br/> @ The Filinvest Tent <br/>
                        Spectrum Midway, Alabang, Muntinlupa, 1780 Metro Manila
                    </p>
                </div>
            </div>
        </div>

        <div class="form-question" style="width:auto;">
            <form action="" method="post" id="survey_form" name="survey_form" class="form-survey">
                <div class="col-12-md">
                    <div class="question" style="text-align:center;margin:30px;">
                        <h4>
                            Are you going to attend the party?
                        </h4>
                    </div>
                </div>
                <div class="col-12-md">
                    <div class="choices" id="choices" style="text-align:center;margin:50px;">
                        <div class="radYes">
                            <label class="radioYes"><input type="radio" id="optradio" name="optradio" value="Yes"> Yes </label>
                        </div>
                        <div class="radNo">
                            <label class="radioNo"><input type="radio" id="optradio" name="optradio" value="No"> No </label>
                        </div>
                    </div>
                </div>
                <div class="yesFirst">
                    <div class="col-12-md">
                        <div class="question" style="text-align:center;margin:30px;">
                            <h4>
                                What about your Shuttle route?
                            </h4>
                        </div>
                        <div class="col-12-md">
                            <div class="shuttleSelectionIn" style="margin:0 auto 5px; width:360px; ">
                                <select class="form-control" id="shuttleIn" name="shuttleIn" type="text">
                                    <option selected="true" disabled="disabled" value="default">Select incoming </option>
                                    <% for(let i=0; i<shuttle_obj.length;i++){ %>
                                        <option value="<%= shuttle_obj[i].shuttle %>">
                                            <%= shuttle_obj[i].shuttle %>
                                        </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="shuttleSelectionOut" style="margin:0 auto 30px; width:360px; ">
                                    <select class="form-control" id="shuttleOut" name="shuttleOut" type="text">
                                        <option selected="true" disabled="disabled" value="default">Select outgoing </option>
                                        <% for(let i=0; i<shuttle_obj.length;i++){ %>
                                            <option value="<%= shuttle_obj[i].shuttle %>">
                                                <%= shuttle_obj[i].shuttle %>
                                            </option>
                                        <% } %>
                                    </select>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="noFirst">
                    <div class="col-12-mid">
                        <div class="whyNot" style="text-align:center;margin:30px;">
                            <h4>
                                Your reason why you're not going (Optional)
                            </h4>
                        </div>
                    </div>
                    <div class="col-12-mid">
                        <div class="whyNotSelection" style="margin:0 auto 5px; width:360px;padding-bottom: 20px;">
                            <textarea class="form-control" id="whySelect" name="whySelect"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-12-md">
                    <div class="submit_survey" style="margin:0 auto 50px; width:360px;">
                        <button id="btn-survey" class="btn btn-lg btn-danger btn-block"  name="Submit"  type="button" value="submit" data-toggle="modal" data-target="#confirm-submit" style="padding:15px;">Submit</button>
                        <div class="logout" style="text-align:center;font-size:12px;margin:10px;">
                                <a href="/logout">I'll do it later</a>
                        </div>
                    </div>
                    
                </div>
                <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                Hello <%= user_session[0].firstname %>,
                            </div>
            
                                <div class="modal-body">
                                    Are you sure you want to submit the pre-registration form?
                                    <div class="final" style="font-size:12px;">
                                        <i>All information you've provided will be used in the event.</i>
                                    </div>
                                    <div id="error">
                                            <!-- error will be shown here -->
                                    </div>
                                </div>
            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">No, I'll think again</button>
                                <button type="Submit" id="btn-survey" class="btn btn-primary primary">Yes, Submit!</a>
                            </div>
                    </div>
                </div>
            </form>
        </div>

        
    </body>
</html>